
$navy-blue: rgb(9, 29, 58);
$light-blue: rgb(203, 239, 252);
$gray-blue: rgb(169, 199, 210);
$dark-gray: rgb(79, 79, 79);

/* import bootstrap to set changes */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";